@font-face {
  font-family: impact;
  src: url('Impact Label.ttf');
}

@font-face {
  font-family: noto;
  src: url('NotoSans-Regular.ttf');
}

html,
body {
   margin: 0;
   padding: 0 10px;
   height: 100%;
}

body {
  color: #000;
  background: #fff;
  font-family: noto;
}

::selection {
  background: #ec9134;
  color: white;
}

.middle-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.middle-wrapper-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.spacer-70 {
  height: 70px;
}

a {
  color: #000;
  text-decoration: underline;
}

.standout-info {
  padding: 10px 15px;
  border: solid 1px #ccc;
  background: #e2e2e2;
  color: #666;
}

.rambling h3 {
  margin-bottom: 5px;
}

.rambling h3 a {
  text-decoration: none;
}

.rambling-read-it {
  text-decoration: none;
  padding: 0 5px;
  background: #ccc;
  color: black;
}

.rambling-read-it:hover {
  background: black;
  color: white;
}

.article .non-route-article {
  max-width: 800px;
  margin: 20px auto 0;
}

.article .non-route-article h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.article p {
  max-width: 800px;
  margin: 20px auto 0;
  font-size: 16px;
  line-height: 36px;
}

.article ol, .article ul {
  max-width: 800px;
  margin: 20px auto 25px;
  padding-left: 60px;
  font-size: 16px;
  line-height: 36px;
}

.article ol li, .article ul li {
  margin-bottom: 10px;
}

.img-wrapper {
  max-width: 885px;
  margin: 20px auto 0;
  position: relative;
}

.img-wrapper.single-img img  {
  width: 100%;
}

.img-wrapper.two-imgs img  {
  width: 430px;
}

.img-wrapper.two-imgs img:first-child {
  margin-right: 15px;
}

@media only screen and (max-width: 920px) {
  .img-wrapper.two-imgs img {
    width: 100%;
  }

  .img-wrapper.two-imgs img:first-child {
    margin-bottom: 20px;
  }
}

.app-root {
  min-height: 100%;
  position: relative;
}

.main-content {
  padding-bottom: 210px;
}

header {
  max-width: 800px;
  margin: 40px auto 0;
  line-height: 40px;
  text-align: center;
}

header .logo {
  font-family: impact;
  font-size: 40px;
}

header .links {
  margin-top: 15px;
}

header .links a {
  margin: 0 10px;
}

header .links a:hover {
  padding: 0 5px;
  background-color: orangered;
  color: white;
  text-decoration: none;
}

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  margin-bottom: 0;
  margin-top: 100px;
  text-align: center;
}

footer a {
  margin: 5px;
  text-decoration: none;
}

.intro-copy {
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
  line-height: 36px;
}

.route-preview {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-top: 25px;
  box-sizing: border-box;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  transition: all .15s ease;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.route-preview:hover .route-preview-name {
  transform: translateY(-1px);
}

.route-preview-name {
  background: #000;
  color: #fff;
  font-size: 28px;
  display: inline-block;
  margin-bottom: 12px;
}

.route-preview-distance, .route-preview-location {
  background: #000;
  color: #fff;
  font-size: 18px;
}

.route-preview-location {
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .route-preview {
    background-size: auto;
  }
}

h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.metrics-wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.metrics-wrapper h1 {
  margin: 0;
  font-size: 24px;
  line-height: 47px;
  font-weight: normal;
}

.route-metrics {
  display: inline-block;
}

.route-metrics.last {
  border-right: none;
}

.metric {
  display: block;
  font-size: 22px;
}

.metric-name {
  text-transform: uppercase;
  font-size: 12px;
  color: #777676;
}

@media only screen and (max-width: 600px) {
  .metrics-wrapper {
    display: block;
  }

  .metrics-wrapper h1 {
    text-align: center;
  }

  .route-metrics {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}
