<p class="middle-wrapper intro-copy">
  Georgia gravel roads offer some of the best cycling routes the state has to offer. <br/>
  We document those routes so you can start planning your next gravel grinder.
</p>

<div class="middle-wrapper">
  <div *ngFor="let route of routes" id="routes-list">
    <a class="route-preview"
      [routerLink]="['/routes', route.id]" 
      [ngStyle]="{'background-image': 'url(/assets/' + route.id + '/route-preview.png)' }">
      <span class="route-preview-name">{{route.name}}</span>
      <span class="route-preview-location">{{route.location}}</span>
      <span class="route-preview-distance">{{route.distance}} miles</span>
    </a>
  </div>
</div>
