<p>
  Georgia gravel roads offer some of the best riding the state has to offer. Here you can find 
  those roads documented and ready for your next adventure.
</p>

<div *ngFor="let route of routes" id="routes-list">
  <a [routerLink]="['/routes', route.id]">
    <h2 class="route-preview-name" [ngStyle]="{'background-image': 'url(/assets/' + route.id + '/route-preview.png)' }">{{route.name}}</h2>
  </a>
  <div class="metrics-wrapper">
    <div class="route-metrics">
      <span class="metric">{{route.location}}</span>
      <span class="metric-name">Location</span>
    </div>
    <div class="route-metrics">
      <span class="metric">{{route.distance}}</span>
      <span class="metric-name">Miles</span>
    </div>
    <div class="route-metrics">
      <span class="metric">{{route.elevation}} ft</span>
      <span class="metric-name">Elevation</span>
    </div>
  </div>
</div>
