.metrics-wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.metrics-wrapper h1 {
  margin: 0;    
  font-size: 24px;
  line-height: 47px;
}

.route-metrics {
  display: inline-block;
}

.route-metrics.last {
  border-right: none;
}

.metric {
  display: block;
  font-size: 22px;
}

.metric-name {
  text-transform: uppercase;
  font-size: 12px;
  color: #777676;
}