body {
  margin: 0;
  border-top: solid 5px #444;
}

a {
  color: #444;
}

p {
  font-size: 18px;
  line-height: 28px;
}

p .floating-right-img {
  float: right;
  max-width: 390px;
  margin-left: 20px;
}

p .floating-left-img {
  float: left;
  max-width: 390px;
  margin-right: 20px;
}

.bottom-img {
  max-width: 390px;
}

.bottom-img.first {
  margin-right: 15px;
}