body {
  margin: 0;
  border-top: solid 5px #444;
  color: #444;
  background: #f9f8f6;
  font-family: 'Libre Baskerville', serif;
}

.middle-wrapper {
  width: 800px;
  margin: 0 auto;
}

.middle-wrapper-1200 {
  width: 1200px;
  margin: 0 auto;
}

.full-width-wrapper {
  background: #dddeda;
  margin-bottom: 40px;
}

img {
  border-radius: 3px;
}

a {
  color: #444;
}

.route-description p {
  width: 800px;
  margin: 20px auto 0;
  font-size: 18px;
  line-height: 32px;
}

.route-description .img-wrapper {
  width: 1000px;
  margin: 20px auto 0;
  position: relative;
}

.route-description .img-wrapper.single-img img  {
  width: 100%;
}

.route-description .img-wrapper.two-imgs img  {
  width: 490px;
}

.route-description .img-wrapper.two-imgs img:first-child {
  margin-right: 15px;
}