body {
  margin: 0;
  color: #444;
  background: #f9f8f6;
  font-family: 'Libre Baskerville', serif;
}

::selection {
  background: #ffb7b7;
}

.middle-wrapper {
  width: 800px;
  margin: 0 auto;
}

.middle-wrapper-1200 {
  width: 1200px;
  margin: 0 auto;
}

.full-width-wrapper {
  background: #dcd0c4;
  margin-bottom: 40px;
  border-top: solid 1px #868686;
  border-bottom: solid 1px #bab8b6;
}

img {
  border-radius: 3px;
}

a {
  color: #444;
}

.route-description p {
  width: 800px;
  margin: 20px auto 0;
  font-size: 18px;
  line-height: 36px;
}

.route-description .img-wrapper {
  width: 880px;
  margin: 20px auto 0;
  position: relative;
}

.route-description .img-wrapper.single-img img  {
  width: 100%;
}

.route-description .img-wrapper.two-imgs img  {
  width: 430px;
}

.route-description .img-wrapper.two-imgs img:first-child {
  margin-right: 15px;
}