header {
  width: 800px;
  margin: 40px auto;
}

header h1 {
  display: inline-block;
  margin: 0;
  height: 40px;
  line-height: 40px;
}

header nav {
  float: right;
  height: 40px;
  line-height: 40px;
}

header nav a {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
}

header nav a:hover, header nav a.active { 
  text-decoration: underline;
}