.app-root {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  color: #444;
  font-family: 'Scope One', serif;
}

header {
  margin: 40px 0;
}

header h1 {
  display: inline-block;
  margin: 0;
  height: 40px;
  line-height: 40px;
}

header nav {
  float: right;
  height: 40px;
  line-height: 40px;
}

header nav a {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
}

header nav a:hover, header nav a.active { 
  text-decoration: underline;
}