<div class="full-width-wrapper">
  <div class="middle-wrapper">
    <app-route-metrics [route]="route"></app-route-metrics>
  </div>
</div>

<div class="route-description" [innerHTML]="route.longDescription | safeHtml"></div>

<div class="middle-wrapper">
  <h2>The Route</h2>
  <iframe [src]="'https://rwgps-embeds.com/embeds?type=route&amp;id=' + route.rideWithGpsId + '&amp;sampleGraph=true' | safeUrl" 
    style="width: 1px; min-width: 100%; height: 500px; border: none;" scrolling="no">
  </iframe>

  <h2>Discussion & Ride Reports</h2>
  <disqus [identifier]="route.id" [url]="'http://www.georgiagravelroutes.com/route/' + route.id"></disqus>
</div>